body {
    margin: 0;
    overflow: hidden;
    background: #000;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.ball {
    position: absolute;
    width: 10px;  
    height: 10px; 
    border-radius: 50%;
    background-color: #481E14; /* Initial color */
    transition: transform 0.3s;
}
